.custom-table {
    border: 2px solid black;
    thead {
        border-bottom: 2px solid black;
        
    }
    th {
        background-color: gray !important;
    }
}
.table-container {
    max-height: 40vh;
    overflow: auto;
}

.custom-table tbody tr {
    vertical-align: middle;
}

.table-image{
    vertical-align: middle;
}