<div class="table-responsive table-container">
  <table class="table table-borderless custom-table table-hover">
    <thead>
      <tr>
        @for (key of headerKeys; track $index) {

        @if (headerConfiguration[key].width) {
        <th [style.width]="headerConfiguration[key].width + '%'" scope="col">{{headerConfiguration[key].title}}</th>
        } @else {
        <th scope="col">{{headerConfiguration[key].title}}</th>
        }

        }
      </tr>
    </thead>
    <tbody>
      @for (item of paginatedData; track $index) {
      <tr [class.table-active]="item.selected" (click)="onRowClick($index)">
        @for (key of headerKeys; track key){
        @if(headerConfiguration[key].showImage) {
        <td>
          <i [className]="headerConfiguration[key].imageClass + ' table-image'"
            [style.font-size]="(headerConfiguration[key].imageSize ? headerConfiguration[key].imageSize : 40) + 'px'"></i>
          {{ item[key] | tableDataPipe : headerConfiguration[key].type}}
        </td>
        } @else {
        <td>
          {{ item[key] | tableDataPipe : headerConfiguration[key].type}}
        </td>
        }
        }
      </tr>
      } @empty {
      <tr>
        <td [colSpan]="headerKeys.length">No data</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-end">
  <ngb-pagination [collectionSize]="dataList.length ? dataList.length : 1" [(page)]="currentPage"
    [pageSize]="itemsPerPage" (pageChange)="onPageChange($event)" aria-label="Pagination">
  </ngb-pagination>
</div>